.image {
	height: 100%;
}

.topText,
.bottomText {
	z-index: 1;
	color: white;
	font-size: 2.5rem;
	font-weight: bold;
	text-align: center;
	width: 100%;
	margin: 0.5rem;
}

.topText {
	position: absolute;
	top: 0;
}

.bottomText {
	position: absolute;
	bottom: 0;
}

.delete {
	position: absolute;
	top: 50;
	right: 50;
}

img {
	z-index: 0;
}
